.alert p {
  margin-bottom: 0!important;
}

body {
  /* background: #000428;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428); */
  background-color: #192a56;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  margin: 30px 0;
}

.button-submit {
  background-color: #218c74 !important;
  color: white !important;
  border-color: #218c74 !important;
}

.contenido {
  padding:20px;
}

.contenido-principal {
  background-color: #273c75;
  padding: 30px;
}

.presupuesto p{
  margin-bottom: 0;
  font-weight: bold;
}

.presupuesto p span {
  font-weight: normal;
}

#gastos {
  margin-bottom: 30px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  font-size: 4.8rem!important;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color:#FFFFFF;
  margin-bottom:30px;
  font-size:3rem!important;
  text-align: center;
}

.expense {
  margin-bottom: 2rem;
  color: white;
}

.expense input{
  color: #424242;
}

.button-style {
  color: white !important;
  padding-left: 5px !important;
  margin-right: 5px !important;
  padding-right: 5px !important;
  border-color: transparent !important;
}

.error {
  text-align: center;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-primary {
  color: #FFFFFF;
  background-color: #74b9ff;
  border-color: #74b9ff;
}

.alert-success {
  color: #FFFFFF;
  background-color: #58B19F;
  border-color: #58B19F;
}

.alert-danger {
  color: white;
  background-color: #b33939;
  border-color: #b33939;
}

.alert-warning {
  color: white;
  background-color: #ffa801;
  border-color: #ffa801;
}

.expense-title{
  margin-left: 10px;
  font-size: 18px;
}

.gastos-realizados  {
  margin-bottom: 2rem;
}

.gastos-realizados li{
  list-style: none;
  margin-bottom: 0rem;
  border-bottom: 1px solid #e1e1e1;
  padding: 1rem 0;
}

.gastos-realizados li:last-of-type {
  margin-bottom: 0!important;
}

.gastos-realizados li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0;
  color: white;
}

.gastos .expense-title {
  padding: 1rem;
  color:white;
}

@media (max-width: 1900px) {
  .gasto{
    padding: 1rem;
    background-color: #40739e;
    color:white;
    margin-left: 14rem;
  }
}

@media (max-width: 1100px) {
  .gasto{
    padding: 1rem;
    background-color: #40739e;
    color:white;
    margin-left: 8rem;
  }
}
@media (max-width: 920px) {
  .gasto{
    padding: 1rem;
    background-color: #40739e;
    color:white;
    margin-left: 5rem;
  }
}
@media (max-width: 860px) {
  .gasto{
    padding: 1rem;
    background-color: #40739e;
    color:white;
    margin-left: 3rem;
  }
}

@media (max-width: 780px) {
  .gasto{
    padding: 1rem;
    background-color: #40739e;
    color:white;
    margin-left: 1rem;
  }
}
